<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database management system</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <form method="POST" action="/">
    <div class="main_container">
        <div class="table_name_container">
                        
        </div>
        <div class="button-container">
            <button type="submit" class="create_table">+createTable</button>
        </div>
    </div>
    </form>
    <script src="js/createtable.js"></script>
</body>
</html>